<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>首页</title>
</head>
<body>
<div id="content">
    <button class="btnUpdate" data-action="start">更新章节内容</button>
    <button class="btnCon" data-action="start">同步章节内容</button>
    <button class="btnCon" data-action="stop">停止</button>
</div>
</body>
</html>
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script>
    $(function () {
        $('.btnCon').on('click', function () {
            var action = $(this).data('action');
            if (action == 'start') {
                ContentList();
            } else {
                window.location.reload();
            }
        });

        $('.btnUpdate').on('click', function () {
            var action = $(this).data('action');
            if (action == 'start') {
                update();
            } else {
                window.location.reload();
            }
        });

        function ContentList() {
            var getUrl = 'http://127.0.0.1:81/index.php?s=/Home/Novel/getChapterContent';
            $.get(getUrl,function (res) {
                setTimeout(ContentList, 500);
            })
        }

        function update() {
            var updateUrl = 'http://127.0.0.1:81/index.php?s=/Home/Novel/getContent';
            $.get(updateUrl,function (res) {
                console.log(res);
                if (res.code){
                    setTimeout(update, 500);
                }
            })
        }
    })
</script>